/*paleta*/
$brandy: #B58E7C;
$mandy: #F4D6C4;
$minero: #363636;
$plata: #EBEBEB;
$naranjo: #FF5C39;

.bg-naranjo {
    background-color: $naranjo!important;
}
.bg-minero {
    background-color: $minero!important;
}
.bg-white {
    background-color: #FFF!important;
}
.bg-plata {
    background-color: $plata!important;
}

.txt-white {
    color: #FFF;
}
