/*paleta*/
$brandy: #B58E7C;
$mandy: #F4D6C4;
$minero: #363636; 

@font-face {
	font-family: 'FBold';
	src: url('fonts/Fibra-Bold.eot');
	src: local('☺'), url('fonts/Fibra-Bold.woff') format('woff'), url('fonts/Fibra-Bold.ttf') format('truetype'), url('fonts/Fibra-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FSemi';
	src: url('fonts/Fibra-SemiBold.eot');
	src: local('☺'), url('fonts/Fibra-SemiBold.woff') format('woff'), url('fonts/Fibra-SemiBold.ttf') format('truetype'), url('fonts/Fibra-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FUBold';
	src: url('fonts/Fibra-UltraBold.eot');
	src: local('☺'), url('fonts/Fibra-UltraBold.woff') format('woff'), url('fonts/Fibra-UltraBold.ttf') format('truetype'), url('fonts/Fibra-UltraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
@font-face {
	font-family: 'FLight';
	src: url('fonts/Fibra-Light.eot');
	src: local('☺'), url('fonts/Fibra-Light.woff') format('woff'), url('fonts/Fibra-Light.ttf') format('truetype'), url('fonts/Fibra-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

body {
    font-size: 15px;
    color: $minero;
    font-family: 'Work Sans';
    @media (max-width: 991px) {
        font-size: 15px;
    }
    @media only screen and (max-device-width: 991px) {
        font-size: 13px;
    }
}
p, button, li, a {
	font-size: 1em;
	font-weight:400;
	&::selection {
	}
	&::-moz-selection {
	}
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'FBold';
    color: $minero;
}
ul, nav {
    margin: 0;
    padding: 0;
}
h6 {
    text-transform: uppercase;
    font-size: 20px;
    color: #363636;
    letter-spacing: 1px;
    line-height: 74px;
}
