/*paleta*/ 
$brandy: #B58E7C;
$mandy: #F4D6C4;
$minero: #363636; 


.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px 9px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
}
.desk-menu {
    .nav {
        float: right;
        display: table;
        li {
            height: 40px;
            margin: 0 25px;
            display: table-cell;
            vertical-align: middle;
            padding-top: 9px;
            a {
                display:table-cell;
                vertical-align: middle;
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: #363636;
                transition: width .2s;
            }
            &:hover {
                &:after {
                width: 100%;
                //transition: width .3s;
                }
            }
            &.menu-instagram, &.menu-facebook {
                margin: 0 10px;
                padding-top: 6px;
            }
        }
        li.current-menu-item {
             &:after {
                width: 100%;
            }
        }
    }
}


.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
.nav a {
    padding: 0 0 2px;
    color:#363636;
    font-family: 'FBold';
    font-size: 0.8em;
    letter-spacing: 1.5px;
    margin-right: -1.5px;
    &:focus, &:hover {
        color: #363636;
        background-color: transparent;
        text-decoration: none;
    }
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
}
.nav > li > .parent {
    background-image: url("https://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    position: relative;
    z-index:100;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

.mov {
    position: relative;
    .nav {
        top: 40px;
        width: 100%;
        position: absolute;
        z-index: 99;
        background-color: $minero;
    }
    p {
        color: #FFF;
        display: inline;
        margin-top: 10px;
        margin-right: 11px;
        a {
            display: inline;
            color: #FFF;
            text-decoration: none;
        }
    }
    @media (max-width: 991px) {
        display: flex;
        justify-content: flex-end;
    }
    @media only screen and (max-device-width: 991px) {
        display: flex;
        justify-content: flex-end;
    }
}


@media screen and (max-width: 991px) {

    .toggleMenu {
        display: inline-block;
        width: 80px;
        text-align: center;
    }
    .active {
        display: block;
    }
    .nav > li {
        width: 100%;
        text-align: right;
        a {
            float: right;
            margin-right: 12px;
            font-size: 13px;
        }
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav > li > .parent {
        background-image: none; 
    }
    .nav li .more {
        background-image: url("https://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        float: right;
        width: 20%;
        border-left: 1px solid rgba(255,255,255,.3);
        padding: 8px 15px;
        margin: 2px 5px 2px 0px;
        cursor: pointer;
        z-index: 200;
        position: relative;
    }
    .nav li .more:before {
        content: "";
        background: rgba(0,0,0,.3);
        width: 1px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -2px;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
    .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
}