/*paleta*/ 
$brandy: #B58E7C;
$mandy: #F4D6C4;
$minero: #363636;
$plata: #EBEBEB;
$naranjo: #FF5C39;


@import "fix";
@import "fonts";
@import "colores";
@mixin transicionch {
    transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
    -webkit-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -moz-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -o-transition: all 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
}

body {
    position: relative;
    background-color: $plata;
    height: auto!important;
    &.home {
        background-color: $naranjo;
    }
    &.page-blog, &.single-post {
        background-color: #FFF;
    }
}
#wrapper {
    min-height: 100vh;
    padding-top: 38px;
    padding-bottom: 160px;
}
#header {
    height: 64px;
    padding-top: 22px;
    z-index: 9999;
    .logo {
        display: flex;
        height: 44px;
        align-items: center;
        img {
            max-width: 100%;
        }
    }
    .sm {
        position: relative;
        justify-content: flex-end;
        a.activo {
            color: #BFECE9;
        }
        .searchbox {
            position: absolute;
            bottom: -49px;
            right: 0;
            padding:10px 10px 10px;
            background-color: $minero;
            width: 270px;
            form {
                margin: 0;
                padding: 0;
                input[type="search"], input[type="submit"] {
                    float: left;
                }
                input[type="search"] {
                    width: 70%;
                    padding: 3px;
                    margin: 0;
                    height: auto;
                    margin-right: 2%;
                }
                input[type="submit"] { 
                    width: 28%;
                    padding: 4px;
                    color: #000;
                    border: 0;
                    border-radius: 3px;
                }
            }
        }
    }
    @import "menunav";
    &.home {
        .desk-menu {
            .nav {
                a {
                    color: #FFF;
                    &:hover {
                        color: #FFF;
                    }
                }
        
                li {
                    &:after {
                        background: #FFF;
                    }
                }
    
            }
        }
        .nav a {
            color:#FFF;
        }
    }
}
.cart-pill {
    position: fixed;
    padding: 10px;
    border-radius: 30px;
    bottom: 25px;
    right: 15px;
    z-index: 9999;
    background-color: $minero;
    p {
        color: #FFF;
        line-height: 1em;
        margin-bottom: 0!important;
        a {
            color: #FFF!important;
            text-decoration: underline;
        }
    }
}
body.single-proyectos {
    #header {
        li.menu-item-object-proyectos {
             &:after {
                width: 100%;
            }
        }
    }
}
body.single-product {
    #header {
        li.current_page_parent {
             &:after {
                width: 100%;
            }
        }
    }
}
body.single-post {
    #header {
        li#menu-item-83 {
             &:after {
                width: 100%;
            }
        }
    }
}
body.single-post {
    #header {
        li.menu-item-93 {
             &:after {
                width: 100%;
            }
        }
    }
}
body.page-contacto {
    background-color: $plata;
}
body.woocommerce-page {
     #header {
        li.menu-tienda {
             &:after {
                width: 100%;
            }
        }
    }
}

//HOME 
#home-blocks {
    margin-top: 70px;
    .txt-white {
        width: 64%;
        font-family: 'FUBold';
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 1.75px;
        line-height: 24px;
    }
}
.img-home {
    position: relative;
    margin-bottom: 3vh;
    max-width: 500px;
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: 'FUBold';
        text-decoration: none;
        opacity: 1;
        visibility: visible;
        font-size: 50px;
        background-color: rgba($naranjo,.1);
        @include transicionch;
        &:hover {
            text-decoration: none;
        }
    }
    &:hover {
        a {
            @include transicionch;
            opacity: 1;
            background-color: rgba($naranjo,.5);
            visibility: visible;
        }
        
    }
}
#intro {
    background-color: $plata;
    padding-top: 54px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    .titulo {
        min-height: 80px;
        margin-bottom: 100px;
        @media (max-width: 640px) {
            height: 200px;
            margin-bottom: 50px;
        }
        @media only screen and (max-device-width: 640px) {
            height: 200px;
            margin-bottom: 50px;
        }

    }
    h1 {
        font-size: 4.66em;
        color: $minero;
        letter-spacing: 0.5px;
        line-height: 1em;
    }
    .item-icono {
        height: 323px;
        
        .fade-out {
            opacity: 0;
        }
        .fade-in {
            opacity: 1;
        }
        .box { 
            .img {
                display: flex;
                justify-content: center;
                height: 192px;
                margin: 0 auto;
                width: 100%;
            }
            p {
                font-family: 'FSemi';
                font-size: 1.06em;
                color: $minero;
                letter-spacing: 1px;
                line-height: 24px;
            }
            @include transicionch;
        }
    }
}
.link-visitar-proyectos {
    position: absolute;
    z-index: 99;
}
#slider-home-wrapper {
    position: relative;
    .link-visitar-proyectos {
        top: 30px;
        .caja-link {
            p {
                a {
                    color: #FFF;
                    &:after {
                        background: #FFF;
                    }
                }
            }
        }
    }
}
#slider-home, #slider-productos {
    height: 100vh;
    margin: 0;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    
    div {
        height: 100%;
        @include cover;
    }
    .wrapper-title {
        position: relative;
    }
    .col-lg-12 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    a.titulo {
        display: block;
        background-color: #FFF;
        padding: 6px 7px;
        color: $brandy;
        font-size: 16px;
        color: $minero;
        letter-spacing: 0.8px;
        line-height: 22px;
        width: 285px;
    }
    .slick-prev {
        left: 4%;
    }
    .slick-next {
        right: 4%;
    }
    .slick-dots {
        bottom: 15px;
        li {
            margin: 0 17px;
            button {
                &:before {
                    color: #FFF;
                    opacity: 1;
                    font-size: 16px;
                }
            }
        }
        li.slick-active {
            button {
                &:before {
                    color: $minero;
                }
            }
        }
    }
    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
#slider-productos {
    height: 400px;
    margin-bottom: 20px;
}
.slider-container {
    .slick-prev {
        background: url(img/prev.svg) center center no-repeat;
    }
    .slick-next {
        background: url(img/next.svg) center center no-repeat;
    }
    .slick-prev, .slick-next {
        width: 51px;
        height: 32px;
        z-index: 99;
        &:before{
            content: '';
        }
    }
}
.slider-sec {
    margin-top: 30px;
    .slick-prev {
        left: -8%;
    }
    .slick-next {
        right: -8%;
    }
    div.bloque {
        height: 338px;
        
        div.img {
            height: 215px;
            @include cover;
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
        }
    }
}
#blog-home {
    padding-bottom: 114px;
}
#tienda-home, #blog-home {
    h1 {
        letter-spacing: 1.54px;
    }
    p {
        
        letter-spacing: 0.88px;
    }
}
#tienda-home {
    height: 102vh;
    display: flex;
    position: relative;
    .link-visitar-proyectos {
        top: 30px;
        .caja-link {
            p {
                a {
                    color: $minero;
                }
            }
        }
    }
    #img {
        @include cover;
    }
    #contenido {
        display: flex;
        align-items: center;
        h1 {
            font-size: 6em;
        }
        img {
            max-width: 100%;
        }
        p {
            font-family: 'FSemi';
            font-size: 1.06em;
            color: $minero;
            letter-spacing: 1px;
            line-height: 26px;
        }
        h1, img, p {
            margin-bottom: 47px;
        }
        a {
            font-family: 'FBold';
            font-size: 12px;
            color: #363636;
            letter-spacing: 1px;
            border: 3px solid $minero;
            padding: 9px 25px;
        }
    }
    @media (max-width: 640px) {
        height: 100vh;
        display: block;
        .link-visitar-proyectos {
            top: 20px;
        }
        #img {
            height: 40vh;
        }
        #contenido {
            height: 60vh;
        }
    }
    @media only screen and (max-device-width: 640px) {
        height: 180vh;
        .link-visitar-proyectos {
            top: 20px;
        }
        #img {
            height: 60vh;
        }
        #contenido {
            height: 90vh;
        }
    }
}
#slider-tienda {
    .bloque {
        .img {
            margin-bottom: 12px;
        }
        h4, h4 a, p {
            color: $minero;
            letter-spacing: 1px;
            margin-bottom: 3px;
        }
        h4 {
            font-size: 16px;
            line-height: 20px;
        }
        p {
            font-size: 0.85em;
            letter-spacing: 0.43px;
            line-height: 16px;
        }
    }
}
#sidebar {
    .widget {
        margin-bottom: 50px;
        width: 90%;
        h4 {
            margin-bottom: 20px;
        }
        .tagcloud {
            a {
                color: $minero;
            }
        }
        .price_label {
            float: left;
        }
    }
}
//paginas
#wrapper {
    form.wpcf7-form {
        margin-bottom: 48px;
        input[type="text"], input[type="email"], textarea {
            width: 100%;
            margin-bottom: 13px;
            padding: 14px;
            letter-spacing: 0.92px;
            color: $minero;
            border: 0;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 12px;
            color: #A7A8A8;
            }
            &::-moz-placeholder { /* Firefox 19+ */
            font-size: 12px;
            color: #A7A8A8;
            }
            &:-ms-input-placeholder { /* IE 10+ */
            font-size: 12px;
            color: #A7A8A8;
            }
            &:-moz-placeholder { /* Firefox 18- */
            font-size: 12px;
            color: #A7A8A8;
            }
        }
        input[type="submit"] {
            border: 0;
            background-color: transparent;
            text-indent: -90000000px;
            background: url(img/ico-enviar.png) center center no-repeat;
            min-width: 20px;
            min-height: 30px;
            float: right;
            &:hover, &:active, &:focus {
                outline: 0;
            }
            
        }
    }
}
.seccion-titulo {
    margin-bottom: 31px;
    h1 {
        
        font-size: 3.57em;
        letter-spacing: 1.54px;
    }
}
body.page-contacto {
    #pagina-contacto {
        h1 {
            font-size: 3.33em!important;
            font-family: 'FBold'!important;
        }
    }
}
//galeria
#wrapper.galeria {
    padding-bottom: 159px;
    .seccion-titulo {
        h1 {
            color: #B58E7C;
        }
    }
}

//servicios 
#wrapper.servicios {
    color: $minero;
    min-height: 87vh;
    padding-bottom: 64px;
    @include transicion;
    background-color: $plata;
    padding-top: 101px;
    h1 {
        cursor: pointer;
        @include transicion;
        font-family: Fibra-Bold;
        font-size: 4.66em;
        letter-spacing: 0.5px;
        opacity: .1;
        @media (max-width: 640px) {
            font-size: 3.66em;
        }
        @media only screen and (max-device-width: 640px) {
            font-size: 3.66em;
        }
    }
    h1.on {
        opacity: 1;
    }
    h1#manufactura {
        margin-bottom: 20px;
    }
    #tab-derecha {
        overflow: hidden;
        @include transicion;
        #tab-diseno.off, #tab-manufactura.off {
            opacity: 0;
            display: none;
        }
        #tab-diseno, #tab-manufactura {
            opacity: 1;
            @include transicion;
        }
        .item-servicio {
            margin-bottom: 60px;
            h3 {
                font-weight: 600;
                font-size: 1em;
                color: $minero;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                margin-bottom: 12px;
            }
            img {
                margin-bottom: 13px;
            }
        }
    }
}


.grid-item-content {
  height: 100px;
  background: #D26;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item-content--height2 { height: 200px; }


//Navigation
/*.navigation {
    ul {
        overflow: hidden;
        text-align:center; 
        width: 100%;
        margin-top: 42px;
        margin-bottom: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            opacity: .23;
            @include transicion;
            margin: 0 10px;
            a {
                font-family: 'FBold';
                font-size: 2.66em;
                color: $minero;
                letter-spacing: 0.29px;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $minero;
                transition: width .2s;
            }
            &:last-child {
                opacity: 1;
                a {
                    font-size: 20px;
                }
            }
            &:hover {
                opacity: 1;
                &:after {
                    width: 100%;
                    //transition: width .3s;
                }
            }
        }
        li.active {
            opacity: 1;
        }
    }
}*/
#wrapper {
    ul.page-numbers {
        overflow: visible;
        text-align:center; 
        width: 100%;
        margin-top: 42px;
        margin-bottom: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        float: left;
        
    li {
        margin: 0 10px;
        border: 0;
        padding: 0;
        overflow: visible;
        position: relative;
        a {
            font-family: 'FBold';
            font-size: 2.66em;
            color: $minero;
            letter-spacing: 0.29px;
            text-decoration: none;
            padding: 0;
            margin: 0;
            width: auto;
            min-width: inherit;
            line-height: 1em;
            opacity: .23;
            @include transicion;
            &:hover {
                opacity: 1;
                text-decoration: none;
                background-color: transparent;
                @include transicion;
            }
        }
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $minero;
            transition: width .2s;
        }
        &:first-child {
            &:before {
                content:'pág';
                font-family: 'FBold';
                font-size: 2.66em;
                color: $minero;
                letter-spacing: 0.29px;
                text-decoration: none;
                padding: 0;
                width: auto;
                min-width: inherit;
                line-height: 1em;
                opacity: 1;
                position: absolute;
                left: -93px;
                top: -6px;
            }
        }
        /*&:last-child {
            a, span {
                opacity: 1;
                font-size: 20px;
                @include transicion;
            }
        }*/
        &:hover {
            opacity: 1;
            @include transicion;
            &:after {
                width: 100%;
                //transition: width .3s;
            }
        }
    }
    li.active {
        a {
            @include transicion;
            opacity: 1;
        }
    }
    li {
        span {
            opacity: .23;
            font-family: 'FBold';
            font-size: 2.66em;
            color: $minero;
            letter-spacing: 0.29px;
            text-decoration: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            min-width: inherit;
            @include transicion;
            &:hover {
                background-color: transparent;
                opacity: 1;
                @include transicion;
            }
        }
        span.current {
            opacity: 1;
            @include transicion;
        }
    }
        li.arrowed {
            opacity: 1;
            span {
                opacity: 1;
            }
            a {
                background-color: transparent;
                font-size: 40px;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
/* ---- button ---- */
.button-group {
    .button {
        display: inline-block;
        margin-bottom: 27px;
        border: none;
        cursor: pointer;
        
        margin-right: 12px;
        float: left;
        border-radius: 0!important;
        margin-left: 0;
        background-color: transparent;
        outline: 0;
        
        font-family: 'FBold';
        font-size: 12px;
        color: $minero;
        letter-spacing: 1.5px;
        line-height: 23px;
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $minero;
            transition: width .2s;
        }
        &:hover {
            outline: 0;
            text-decoration: none;
            &:after {
                width: 100%;
            }
        }
        &:active {
        }
    }
}
.button:active,
.button.is-checked {
    &:after {
        width: 100%;
    }
}
.button-group:after {
  content: '';
  display: block;
  clear: both;
}
.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }
.element-item {
    position: relative;
    float: left;
    width: 23.5%;
    margin-bottom: 7px;
    margin-right: 15px;
    @media (max-width: 991px) {
        width: 45%;
    }
    @media only screen and (max-device-width: 991px) {
        width: 45%;
    }
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    
    .wrapper-item {
        position: absolute;
        width: 100%;
        height: 100%;
        @include cover;
        display: flex;
        align-items: center;
        .txt {
            padding: 4px;
            background-color: #FFF;
            width: 100%;
            height: 100%;
            opacity: 0;
            @include transicionch;
            display: flex;
            align-items: center;
            text-align: center;
            p {
                width: 90%;
                margin-left: 5%;
                font-family: 'FBold';
                font-size: 16px;
                color: $minero;
                letter-spacing: 1px;
                
                a{
                    color: $minero;
                }
            }
        }
        &:hover {
            .txt {
                opacity: .85;
                @include transicionch;
            }
        }
    }
}
.element-item > * {
  margin: 0;
  padding: 0;
}
.single-galeria {
    margin-top: 27px;
    .fotos {
        img {
            max-width: 100%;
            margin-bottom: 8px;
        }
    }
    h1 {
        color: $minero;
        letter-spacing: 1.05px;
        margin-bottom: 37px;
        font-family: 'FUBold';
        font-size: 2.66em;
        letter-spacing: 0.5px;
    }
    p {
        font-size: 1em;
        color: $minero;
        letter-spacing: 0;
        line-height: 1.4em;
        margin-bottom: 15px;
    }
    .wp-video {
        margin-bottom: 51px;
    }
    ul.info-adicional {
        margin-bottom: 51px;
        margin-bottom: 90px;
        li {
            font-size: 1em;
            color: $minero;
            letter-spacing: 0;
            line-height: 21px;
            margin-bottom: 18px;
            span {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1em;
                color: $minero;
                letter-spacing: 0.5px;
                line-height: 21px;
                
            }
        }
    }
    .caja-link {
        p {
            a {
                float: left;
                margin-bottom: 0;
                margin-left: 11px;
            }
        }
    }
}
.contacto {}
.relacionadas {
    margin-top: 27px;
    background-color: $plata;
    padding-top: 19px;
    padding-bottom: 19px;
    h6 {
        margin-bottom: 25px;
        line-height: 1em;
    }
}
.item-relacionada {
    margin-bottom: 34px;
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    span.fecha {
        color: $minero;
    }
    h5 {
        a {
            font-size: 1.06em;
            color: $minero;
            letter-spacing: 0.5px;
        }
    }
}
.featherlight { 
    .featherlight-content {
        padding: 0;
        border-bottom: 0;
        overflow: visible;
    }
    .featherlight-close-icon {
        top: 0;
        right: -28px;
    }
}

//caja link
.caja-link {
    min-height: 40px;
    margin-top: 17px;
    display: flex;
    justify-content: flex-end;
    .svg {
        padding-top: 12px;
    }
    p {
        margin-right: 10px;
        a {
            font-family: 'FSemi';
            text-transform: uppercase;
            font-size: 12px;
            color: $minero;
            letter-spacing: 2px;
            width: 100%;
            display: inline-block;
            margin-bottom: 3px;
            text-decoration: none;
            width: auto;
            float: right;
            &:hover {
                text-decoration: none;
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $minero;
                transition: width .2s;
            }
        }
        &:hover {
            a{
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
//blog
#wrapper.blog {
    background-color: $plata;
    padding-bottom: 159px;
    .seccion-titulo {
        h1 {
            color: #FFF;
        }
    }
    .item-noticia {
        margin-bottom: 17px;
        .wrapper-item {
            background-color: #FFF;
        }
        .img {
            height: 215px;
            @include cover;
            margin-bottom: 12px;
            a {
                display: block;
                height: 100%;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .txt {
            padding: 15px 8px;
            p {
                margin-bottom: 10px;
                
                font-size: 12px;
                line-height: 1em;
            }
            a {
                color: $minero;
                letter-spacing: 0.7px;
            }
            span {
                font-size: 16px;
                color: $minero;
                letter-spacing: 0;
            }
        }
    }
}
#blog-home, #header-blog {
    padding-top: 70px;
    h1 {
        font-size: 4.66em;
        color: $minero;
        letter-spacing: 0.5px;
        line-height: 74px;
        margin-bottom: 50px;
    }
    .item-portada-blog {
        display: flex;
        min-height: 270px;
        margin-bottom: 20px;
        @media (max-width: 640px) {
            display: block;
            .img {
                height: 270px;
            }
        }
        @media only screen and (max-device-width: 640px) {
            display: block;
            .img {
                height: 270px;
            }
        }
        .img {
            @include cover;
            position: relative;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                text-decoration: none;
                &:hover, &:focus, &:active {
                    text-decoration: none;
                }
            }
        }
        .texto {
            background-color: #FFF;
            color: $minero;
            padding-top: 15px;
            h2 {
                font-size: 2.1em;
                letter-spacing: 1px;
                margin-bottom: 40px;
                a {
                    color: $minero;
                }
            }
            p {
                margin-bottom: 17px;
                a {
                    
                    font-family: 'FUBold';
                    font-size: 12px;
                    color: #FF5C39;
                    letter-spacing: 1px;
                    text-align: center;
                    line-height: 26px;
                    
                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: $minero;
                        transition: width .2s;
                    }
                    &:hover {
                        text-decoration: none;
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &.bg-naranjo {
        background-color: $naranjo!important;
    }
}
span.fecha {
    font-weight: 500;
    font-size: 0.93em;
    letter-spacing: 1.17px;
    line-height: 2.13em;
    margin-bottom: 8px;
    color: $minero;
}
#header-blog.destacada {
    background-color: #FFF;
    .item-portada-blog {
        min-height: 400px;
        h2 {
            font-size: 2.4em;
            letter-spacing: 1px;
            line-height: 42px;
            a {
                color: $minero;
            }
        }
    }
}
#wrapper.single {
    .header {
        min-height: 400px;
        @include cover;
        img {
            max-width: 100%;
        }
    }
    h1 {
        margin-bottom: 45px;
        font-family: Fibra-Bold;
        font-size: 2.66em;
        letter-spacing: 0.91px;
    }
}
//footer
#pre-footer {
    padding-top: 69px;
    padding-bottom: 27px;
    .logo-footer {
        margin-bottom: 20px;
    }
    p, a {
        font-size: 0.8em;
    }
    h5, h4 {
        font-size: 20px;
        margin-bottom: 16px;
    }
    p, a, h5, h4 {
        color: #FFF;
    }
    p {
        margin-bottom: 20px;
    }
    ul {
        li {
            a {
                text-transform: uppercase;
            }
        }
    }
}
footer {
    padding-top: 33px;
    padding-bottom: 13px;
    p {
        color: #FFF;
        margin-bottom: 0;
        a {
            color: #FFF;
            text-decoration: none;
            &:hover {
                color: #FFF;
            }
        }
    }
    p.slogan {
        font-family: 'FBold';
        font-style: 0.93em;
        margin-bottom: 20px;
        float: left;
    }
    @media (max-width: 768px) {
        .text-right {
            text-align: left;
        }
    }
    @media only screen and (max-device-width: 768px) {
        .text-right {
            text-align: left;
        }
    }
}


//widget 
.widget-cart {
    .dropdown-right, .dropdown-cart-button, .dropdown-total {
        border: 0;
        background-color: $brandy;
    }
    .dropdown-cart-button {
        /*background: url(../images/cart.png) no-repeat top left #fff;*/
    }
}
.dropdown-cart-button .dropdown-total {
    background:none;
    padding: 5px 0px;
    
    font-size: 0.8em;
}


//Woocommerce
.woocommerce, .woocommerce-page {
    background-color: #EBEBEB;
}
.woocommerce {
    color: #515151;
    .panel {
        background-color: transparent;
    }
    #respond input#submit, a.button, button.button, input.button  {
        background-color: #dad8da;
        &:hover {
                background-color: #999;
            color: #FFF;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 30px;
    }
    p.price {
        margin-bottom: 30px;
    }
    .woocommerce div.product .woocommerce-tabs .panel {
        padding-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    .quantity { 
        .qty {
            height: 35px;
        }
    }
}
.pswp__bg {
    background: rgba(0,0,0,.8);
}
body.post-type-archive-product {
    h1.page-title {
        display: none;
    }
}
#pagina-tienda {
    display: none;
    visibility: hidden;
    .titulo-tienda {
        min-height: 100px;
        height: auto;
        margin-bottom: 35px;
        @media (max-width: 640px) {
            min-height: 400px;
        }
        /*test*/
        @media only screen and (max-device-width: 640px) {
            min-height: 300px;
        }
    }
    h1#consulte {
        font-family: Fibra-Bold;
        font-size: 4.66em;
        letter-spacing: 0.5px;
    }
}

//Galería de productos woocommerce
.woocommerce-product-gallery {
position: relative;
margin-bottom: 3em
}
.woocommerce-product-gallery figure {
margin: 0
}
.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
width: 25%;
display: inline-block
}
.woocommerce-product-gallery .flex-control-thumbs li {
list-style: none;
float: left;
cursor: pointer
}
.woocommerce-product-gallery .flex-control-thumbs img {
opacity: .5
}
.woocommerce-product-gallery .flex-control-thumbs img.flex-active,.woocommerce-product-gallery .flex-control-thumbs img:hover {
opacity: 1
}
.woocommerce-product-gallery img {
display: block
}
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
width: 33.3333%
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
width: 25%
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
width: 20%
}
.woocommerce-product-gallery__trigger {
position: absolute;
top: 1em;
right: 1em;
z-index: 99;
}
a.woocommerce-product-gallery__trigger {
text-decoration: none;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
position: absolute;
top: .875em;
right: .875em;
display: block;
height: 2em;
width: 2em;
border-radius: 3px;
z-index: 99;
text-align: center;
text-indent: -999px;
overflow: hidden;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
background-color: #169fda;
color: #ffffff;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
background-color: #1781ae;
border-color: #1781ae;
color: #ffffff;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
font: normal normal normal 1em/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
display: block;
content: "\f00e";
line-height: 2;
text-indent: 0;
}