@charset "UTF-8";
/*paleta*/
/*Reset JP*/
.box {
  display: block;
  height: auto;
  overflow: hidden; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fcenter {
  margin: 0 auto; }

.fwidth {
  width: 100%; }

.fheight {
  height: 100%; }

p, a {
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

a {
  text-decoration: none; }

.ocultar {
  display: none;
  visibility: hidden; }

.mostrar {
  display: block;
  visibility: visible; }

.no-column {
  padding-left: 0;
  padding-right: 0; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/*paleta*/
@font-face {
  font-family: 'FBold';
  src: url("fonts/Fibra-Bold.eot");
  src: local("☺"), url("fonts/Fibra-Bold.woff") format("woff"), url("fonts/Fibra-Bold.ttf") format("truetype"), url("fonts/Fibra-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FSemi';
  src: url("fonts/Fibra-SemiBold.eot");
  src: local("☺"), url("fonts/Fibra-SemiBold.woff") format("woff"), url("fonts/Fibra-SemiBold.ttf") format("truetype"), url("fonts/Fibra-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FUBold';
  src: url("fonts/Fibra-UltraBold.eot");
  src: local("☺"), url("fonts/Fibra-UltraBold.woff") format("woff"), url("fonts/Fibra-UltraBold.ttf") format("truetype"), url("fonts/Fibra-UltraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
@font-face {
	font-family: 'FLight';
	src: url('fonts/Fibra-Light.eot');
	src: local('☺'), url('fonts/Fibra-Light.woff') format('woff'), url('fonts/Fibra-Light.ttf') format('truetype'), url('fonts/Fibra-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
body {
  font-size: 15px;
  color: #363636;
  font-family: 'Work Sans'; }
  @media (max-width: 991px) {
    body {
      font-size: 15px; } }
  @media only screen and (max-device-width: 991px) {
    body {
      font-size: 13px; } }

p, button, li, a {
  font-size: 1em;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'FBold';
  color: #363636; }

ul, nav {
  margin: 0;
  padding: 0; }

h6 {
  text-transform: uppercase;
  font-size: 20px;
  color: #363636;
  letter-spacing: 1px;
  line-height: 74px; }

/*paleta*/
.bg-naranjo {
  background-color: #FF5C39 !important; }

.bg-minero {
  background-color: #363636 !important; }

.bg-white {
  background-color: #FFF !important; }

.bg-plata {
  background-color: #EBEBEB !important; }

.txt-white {
  color: #FFF; }

body {
  position: relative;
  background-color: #EBEBEB;
  height: auto !important; }
  body.home {
    background-color: #FF5C39; }
  body.page-blog, body.single-post {
    background-color: #FFF; }

#wrapper {
  min-height: 100vh;
  padding-top: 38px;
  padding-bottom: 160px; }

#header {
  height: 64px;
  padding-top: 22px;
  z-index: 9999;
  /*paleta*/ }
  #header .logo {
    display: flex;
    height: 44px;
    align-items: center; }
    #header .logo img {
      max-width: 100%; }
  #header .sm {
    position: relative;
    justify-content: flex-end; }
    #header .sm a.activo {
      color: #BFECE9; }
    #header .sm .searchbox {
      position: absolute;
      bottom: -49px;
      right: 0;
      padding: 10px 10px 10px;
      background-color: #363636;
      width: 270px; }
      #header .sm .searchbox form {
        margin: 0;
        padding: 0; }
        #header .sm .searchbox form input[type="search"], #header .sm .searchbox form input[type="submit"] {
          float: left; }
        #header .sm .searchbox form input[type="search"] {
          width: 70%;
          padding: 3px;
          margin: 0;
          height: auto;
          margin-right: 2%; }
        #header .sm .searchbox form input[type="submit"] {
          width: 28%;
          padding: 4px;
          color: #000;
          border: 0;
          border-radius: 3px; }
  #header .toggleMenu {
    display: none;
    background: #666;
    padding: 10px 15px 9px;
    color: #fff; }
  #header .nav {
    list-style: none;
    *zoom: 1; }
  #header .desk-menu .nav {
    float: right;
    display: table; }
    #header .desk-menu .nav li {
      height: 40px;
      margin: 0 25px;
      display: table-cell;
      vertical-align: middle;
      padding-top: 9px; }
      #header .desk-menu .nav li a {
        display: table-cell;
        vertical-align: middle; }
      #header .desk-menu .nav li:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #363636;
        transition: width .2s; }
      #header .desk-menu .nav li:hover:after {
        width: 100%; }
      #header .desk-menu .nav li.menu-instagram, #header .desk-menu .nav li.menu-facebook {
        margin: 0 10px;
        padding-top: 6px; }
    #header .desk-menu .nav li.current-menu-item:after {
      width: 100%; }
  #header .nav:before,
  #header .nav:after {
    content: " ";
    display: table; }
  #header .nav:after {
    clear: both; }
  #header .nav ul {
    list-style: none; }
  #header .nav a {
    padding: 0 0 2px;
    color: #363636;
    font-family: 'FBold';
    font-size: 0.8em;
    letter-spacing: 1.5px;
    margin-right: -1.5px; }
    #header .nav a:focus, #header .nav a:hover {
      color: #363636;
      background-color: transparent;
      text-decoration: none; }
  #header .nav li {
    position: relative; }
  #header .nav > li {
    float: left; }
  #header .nav > li > .parent {
    background-image: url("https://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right; }
  #header .nav > li > a {
    display: block; }
  #header .nav li ul {
    position: absolute;
    left: -9999px; }
  #header .nav > li.hover > ul {
    left: 0; }
  #header .nav li li.hover ul {
    left: 100%;
    top: 0; }
  #header .nav li li a {
    display: block;
    position: relative;
    z-index: 100; }
  #header .nav li li li a {
    background: #249578;
    z-index: 200;
    border-top: 1px solid #1d7a62; }
  #header .mov {
    position: relative; }
    #header .mov .nav {
      top: 40px;
      width: 100%;
      position: absolute;
      z-index: 99;
      background-color: #363636; }
    #header .mov p {
      color: #FFF;
      display: inline;
      margin-top: 10px;
      margin-right: 11px; }
      #header .mov p a {
        display: inline;
        color: #FFF;
        text-decoration: none; }
    @media (max-width: 991px) {
      #header .mov {
        display: flex;
        justify-content: flex-end; } }
    @media only screen and (max-device-width: 991px) {
      #header .mov {
        display: flex;
        justify-content: flex-end; } }
  @media screen and (max-width: 991px) {
    #header .toggleMenu {
      display: inline-block;
      width: 80px;
      text-align: center; }
    #header .active {
      display: block; }
    #header .nav > li {
      width: 100%;
      text-align: right; }
      #header .nav > li a {
        float: right;
        margin-right: 12px;
        font-size: 13px; }
    #header .nav > li > .parent {
      background-position: 95% 50%; }
    #header .nav > li > .parent {
      background-image: none; }
    #header .nav li .more {
      background-image: url("https://webdesigntutsplus.s3.amazonaws.com/tuts/378_tessa/tessa-lt-dropdowns-21c7868/images/downArrow.png");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      float: right;
      width: 20%;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      padding: 8px 15px;
      margin: 2px 5px 2px 0px;
      cursor: pointer;
      z-index: 200;
      position: relative; }
    #header .nav li .more:before {
      content: "";
      background: rgba(0, 0, 0, 0.3);
      width: 1px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -2px; }
    #header .nav ul {
      display: block;
      width: 100%; }
    #header .nav > li.hover > ul, #header .nav li li.hover ul {
      position: static; } }
  #header.home .desk-menu .nav a {
    color: #FFF; }
    #header.home .desk-menu .nav a:hover {
      color: #FFF; }
  #header.home .desk-menu .nav li:after {
    background: #FFF; }
  #header.home .nav a {
    color: #FFF; }

.cart-pill {
  position: fixed;
  padding: 10px;
  border-radius: 30px;
  bottom: 25px;
  right: 15px;
  z-index: 9999;
  background-color: #363636; }
  .cart-pill p {
    color: #FFF;
    line-height: 1em;
    margin-bottom: 0 !important; }
    .cart-pill p a {
      color: #FFF !important;
      text-decoration: underline; }

body.single-proyectos #header li.menu-item-object-proyectos:after {
  width: 100%; }

body.single-product #header li.current_page_parent:after {
  width: 100%; }

body.single-post #header li#menu-item-83:after {
  width: 100%; }

body.single-post #header li.menu-item-93:after {
  width: 100%; }

body.page-contacto {
  background-color: #EBEBEB; }

body.woocommerce-page #header li.menu-tienda:after {
  width: 100%; }

#home-blocks {
  margin-top: 70px; }
  #home-blocks .txt-white {
    width: 64%;
    font-family: 'FUBold';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.75px;
    line-height: 24px; }

.img-home {
  position: relative;
  margin-bottom: 3vh;
  max-width: 500px; }
  .img-home img {
    max-width: 100%;
    height: auto; }
  .img-home a {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'FUBold';
    text-decoration: none;
    opacity: 1;
    visibility: visible;
    font-size: 50px;
    background-color: rgba(255, 92, 57, 0.1);
    transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .img-home a:hover {
      text-decoration: none; }
  .img-home:hover a {
    transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 1;
    background-color: rgba(255, 92, 57, 0.5);
    visibility: visible; }

#intro {
  background-color: #EBEBEB;
  padding-top: 54px;
  padding-bottom: 75px;
  display: flex;
  align-items: center; }
  #intro .titulo {
    min-height: 80px;
    margin-bottom: 100px; }
    @media (max-width: 640px) {
      #intro .titulo {
        height: 200px;
        margin-bottom: 50px; } }
    @media only screen and (max-device-width: 640px) {
      #intro .titulo {
        height: 200px;
        margin-bottom: 50px; } }
  #intro h1 {
    font-size: 4.66em;
    color: #363636;
    letter-spacing: 0.5px;
    line-height: 1em; }
  #intro .item-icono {
    height: 323px; }
    #intro .item-icono .fade-out {
      opacity: 0; }
    #intro .item-icono .fade-in {
      opacity: 1; }
    #intro .item-icono .box {
      transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      /* easeInOutQuad */
      -webkit-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      #intro .item-icono .box .img {
        display: flex;
        justify-content: center;
        height: 192px;
        margin: 0 auto;
        width: 100%; }
      #intro .item-icono .box p {
        font-family: 'FSemi';
        font-size: 1.06em;
        color: #363636;
        letter-spacing: 1px;
        line-height: 24px; }

.link-visitar-proyectos {
  position: absolute;
  z-index: 99; }

#slider-home-wrapper {
  position: relative; }
  #slider-home-wrapper .link-visitar-proyectos {
    top: 30px; }
    #slider-home-wrapper .link-visitar-proyectos .caja-link p a {
      color: #FFF; }
      #slider-home-wrapper .link-visitar-proyectos .caja-link p a:after {
        background: #FFF; }

#slider-home, #slider-productos {
  height: 100vh;
  margin: 0;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }
  #slider-home div, #slider-productos div {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  #slider-home .wrapper-title, #slider-productos .wrapper-title {
    position: relative; }
  #slider-home .col-lg-12, #slider-productos .col-lg-12 {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  #slider-home a.titulo, #slider-productos a.titulo {
    display: block;
    background-color: #FFF;
    padding: 6px 7px;
    color: #B58E7C;
    font-size: 16px;
    color: #363636;
    letter-spacing: 0.8px;
    line-height: 22px;
    width: 285px; }
  #slider-home .slick-prev, #slider-productos .slick-prev {
    left: 4%; }
  #slider-home .slick-next, #slider-productos .slick-next {
    right: 4%; }
  #slider-home .slick-dots, #slider-productos .slick-dots {
    bottom: 15px; }
    #slider-home .slick-dots li, #slider-productos .slick-dots li {
      margin: 0 17px; }
      #slider-home .slick-dots li button:before, #slider-productos .slick-dots li button:before {
        color: #FFF;
        opacity: 1;
        font-size: 16px; }
    #slider-home .slick-dots li.slick-active button:before, #slider-productos .slick-dots li.slick-active button:before {
      color: #363636; }
  #slider-home:active, #slider-productos:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing; }

#slider-productos {
  height: 400px;
  margin-bottom: 20px; }

.slider-container .slick-prev {
  background: url(img/prev.svg) center center no-repeat; }
.slider-container .slick-next {
  background: url(img/next.svg) center center no-repeat; }
.slider-container .slick-prev, .slider-container .slick-next {
  width: 51px;
  height: 32px;
  z-index: 99; }
  .slider-container .slick-prev:before, .slider-container .slick-next:before {
    content: ''; }

.slider-sec {
  margin-top: 30px; }
  .slider-sec .slick-prev {
    left: -8%; }
  .slider-sec .slick-next {
    right: -8%; }
  .slider-sec div.bloque {
    height: 338px; }
    .slider-sec div.bloque div.img {
      height: 215px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover; }
      .slider-sec div.bloque div.img a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; }

#blog-home {
  padding-bottom: 114px; }

#tienda-home h1, #blog-home h1 {
  letter-spacing: 1.54px; }
#tienda-home p, #blog-home p {
  letter-spacing: 0.88px; }

#tienda-home {
  height: 102vh;
  display: flex;
  position: relative; }
  #tienda-home .link-visitar-proyectos {
    top: 30px; }
    #tienda-home .link-visitar-proyectos .caja-link p a {
      color: #363636; }
  #tienda-home #img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
  #tienda-home #contenido {
    display: flex;
    align-items: center; }
    #tienda-home #contenido h1 {
      font-size: 6em; }
    #tienda-home #contenido img {
      max-width: 100%; }
    #tienda-home #contenido p {
      font-family: 'FSemi';
      font-size: 1.06em;
      color: #363636;
      letter-spacing: 1px;
      line-height: 26px; }
    #tienda-home #contenido h1, #tienda-home #contenido img, #tienda-home #contenido p {
      margin-bottom: 47px; }
    #tienda-home #contenido a {
      font-family: 'FBold';
      font-size: 12px;
      color: #363636;
      letter-spacing: 1px;
      border: 3px solid #363636;
      padding: 9px 25px; }
  @media (max-width: 640px) {
    #tienda-home {
      height: 100vh;
      display: block; }
      #tienda-home .link-visitar-proyectos {
        top: 20px; }
      #tienda-home #img {
        height: 40vh; }
      #tienda-home #contenido {
        height: 60vh; } }
  @media only screen and (max-device-width: 640px) {
    #tienda-home {
      height: 180vh; }
      #tienda-home .link-visitar-proyectos {
        top: 20px; }
      #tienda-home #img {
        height: 60vh; }
      #tienda-home #contenido {
        height: 90vh; } }

#slider-tienda .bloque .img {
  margin-bottom: 12px; }
#slider-tienda .bloque h4, #slider-tienda .bloque h4 a, #slider-tienda .bloque p {
  color: #363636;
  letter-spacing: 1px;
  margin-bottom: 3px; }
#slider-tienda .bloque h4 {
  font-size: 16px;
  line-height: 20px; }
#slider-tienda .bloque p {
  font-size: 0.85em;
  letter-spacing: 0.43px;
  line-height: 16px; }

#sidebar .widget {
  margin-bottom: 50px;
  width: 90%; }
  #sidebar .widget h4 {
    margin-bottom: 20px; }
  #sidebar .widget .tagcloud a {
    color: #363636; }
  #sidebar .widget .price_label {
    float: left; }

#wrapper form.wpcf7-form {
  margin-bottom: 48px; }
  #wrapper form.wpcf7-form input[type="text"], #wrapper form.wpcf7-form input[type="email"], #wrapper form.wpcf7-form textarea {
    width: 100%;
    margin-bottom: 13px;
    padding: 14px;
    letter-spacing: 0.92px;
    color: #363636;
    border: 0; }
    #wrapper form.wpcf7-form input[type="text"]::-webkit-input-placeholder, #wrapper form.wpcf7-form input[type="email"]::-webkit-input-placeholder, #wrapper form.wpcf7-form textarea::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 12px;
      color: #A7A8A8; }
    #wrapper form.wpcf7-form input[type="text"]::-moz-placeholder, #wrapper form.wpcf7-form input[type="email"]::-moz-placeholder, #wrapper form.wpcf7-form textarea::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 12px;
      color: #A7A8A8; }
    #wrapper form.wpcf7-form input[type="text"]:-ms-input-placeholder, #wrapper form.wpcf7-form input[type="email"]:-ms-input-placeholder, #wrapper form.wpcf7-form textarea:-ms-input-placeholder {
      /* IE 10+ */
      font-size: 12px;
      color: #A7A8A8; }
    #wrapper form.wpcf7-form input[type="text"]:-moz-placeholder, #wrapper form.wpcf7-form input[type="email"]:-moz-placeholder, #wrapper form.wpcf7-form textarea:-moz-placeholder {
      /* Firefox 18- */
      font-size: 12px;
      color: #A7A8A8; }
  #wrapper form.wpcf7-form input[type="submit"] {
    border: 0;
    background-color: transparent;
    text-indent: -90000000px;
    background: url(img/ico-enviar.png) center center no-repeat;
    min-width: 20px;
    min-height: 30px;
    float: right; }
    #wrapper form.wpcf7-form input[type="submit"]:hover, #wrapper form.wpcf7-form input[type="submit"]:active, #wrapper form.wpcf7-form input[type="submit"]:focus {
      outline: 0; }

.seccion-titulo {
  margin-bottom: 31px; }
  .seccion-titulo h1 {
    font-size: 3.57em;
    letter-spacing: 1.54px; }

body.page-contacto #pagina-contacto h1 {
  font-size: 3.33em !important;
  font-family: "FBold" !important; }

#wrapper.galeria {
  padding-bottom: 159px; }
  #wrapper.galeria .seccion-titulo h1 {
    color: #B58E7C; }

#wrapper.servicios {
  color: #363636;
  min-height: 87vh;
  padding-bottom: 64px;
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-color: #EBEBEB;
  padding-top: 101px; }
  #wrapper.servicios h1 {
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font-family: Fibra-Bold;
    font-size: 4.66em;
    letter-spacing: 0.5px;
    opacity: .1; }
    @media (max-width: 640px) {
      #wrapper.servicios h1 {
        font-size: 3.66em; } }
    @media only screen and (max-device-width: 640px) {
      #wrapper.servicios h1 {
        font-size: 3.66em; } }
  #wrapper.servicios h1.on {
    opacity: 1; }
  #wrapper.servicios h1#manufactura {
    margin-bottom: 20px; }
  #wrapper.servicios #tab-derecha {
    overflow: hidden;
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    #wrapper.servicios #tab-derecha #tab-diseno.off, #wrapper.servicios #tab-derecha #tab-manufactura.off {
      opacity: 0;
      display: none; }
    #wrapper.servicios #tab-derecha #tab-diseno, #wrapper.servicios #tab-derecha #tab-manufactura {
      opacity: 1;
      transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      /* easeInOutQuad */
      -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    #wrapper.servicios #tab-derecha .item-servicio {
      margin-bottom: 60px; }
      #wrapper.servicios #tab-derecha .item-servicio h3 {
        font-weight: 600;
        font-size: 1em;
        color: #363636;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-bottom: 12px; }
      #wrapper.servicios #tab-derecha .item-servicio img {
        margin-bottom: 13px; }

.grid-item-content {
  height: 100px;
  background: #D26;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.grid-item-content--height2 {
  height: 200px; }

/*.navigation {
    ul {
        overflow: hidden;
        text-align:center; 
        width: 100%;
        margin-top: 42px;
        margin-bottom: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            opacity: .23;
            @include transicion;
            margin: 0 10px;
            a {
                font-family: 'FBold';
                font-size: 2.66em;
                color: $minero;
                letter-spacing: 0.29px;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $minero;
                transition: width .2s;
            }
            &:last-child {
                opacity: 1;
                a {
                    font-size: 20px;
                }
            }
            &:hover {
                opacity: 1;
                &:after {
                    width: 100%;
                    //transition: width .3s;
                }
            }
        }
        li.active {
            opacity: 1;
        }
    }
}*/
#wrapper ul.page-numbers {
  overflow: visible;
  text-align: center;
  width: 100%;
  margin-top: 42px;
  margin-bottom: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  float: left; }
  #wrapper ul.page-numbers li {
    margin: 0 10px;
    border: 0;
    padding: 0;
    overflow: visible;
    position: relative;
    /*&:last-child {
        a, span {
            opacity: 1;
            font-size: 20px;
            @include transicion;
        }
    }*/ }
    #wrapper ul.page-numbers li a {
      font-family: 'FBold';
      font-size: 2.66em;
      color: #363636;
      letter-spacing: 0.29px;
      text-decoration: none;
      padding: 0;
      margin: 0;
      width: auto;
      min-width: inherit;
      line-height: 1em;
      opacity: .23;
      transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      /* easeInOutQuad */
      -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      #wrapper ul.page-numbers li a:hover {
        opacity: 1;
        text-decoration: none;
        background-color: transparent;
        transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        /* easeInOutQuad */
        -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    #wrapper ul.page-numbers li:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #363636;
      transition: width .2s; }
    #wrapper ul.page-numbers li:first-child:before {
      content: 'pág';
      font-family: 'FBold';
      font-size: 2.66em;
      color: #363636;
      letter-spacing: 0.29px;
      text-decoration: none;
      padding: 0;
      width: auto;
      min-width: inherit;
      line-height: 1em;
      opacity: 1;
      position: absolute;
      left: -93px;
      top: -6px; }
    #wrapper ul.page-numbers li:hover {
      opacity: 1;
      transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      /* easeInOutQuad */
      -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      #wrapper ul.page-numbers li:hover:after {
        width: 100%; }
  #wrapper ul.page-numbers li.active a {
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 1; }
  #wrapper ul.page-numbers li span {
    opacity: .23;
    font-family: 'FBold';
    font-size: 2.66em;
    color: #363636;
    letter-spacing: 0.29px;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    min-width: inherit;
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    #wrapper ul.page-numbers li span:hover {
      background-color: transparent;
      opacity: 1;
      transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      /* easeInOutQuad */
      -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  #wrapper ul.page-numbers li span.current {
    opacity: 1;
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  #wrapper ul.page-numbers li.arrowed {
    opacity: 1; }
    #wrapper ul.page-numbers li.arrowed span {
      opacity: 1; }
    #wrapper ul.page-numbers li.arrowed a {
      background-color: transparent;
      font-size: 40px; }
      #wrapper ul.page-numbers li.arrowed a:hover {
        opacity: 1; }

/* ---- button ---- */
.button-group .button {
  display: inline-block;
  margin-bottom: 27px;
  border: none;
  cursor: pointer;
  margin-right: 12px;
  float: left;
  border-radius: 0 !important;
  margin-left: 0;
  background-color: transparent;
  outline: 0;
  font-family: 'FBold';
  font-size: 12px;
  color: #363636;
  letter-spacing: 1.5px;
  line-height: 23px; }
  .button-group .button:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #363636;
    transition: width .2s; }
  .button-group .button:hover {
    outline: 0;
    text-decoration: none; }
    .button-group .button:hover:after {
      width: 100%; }

.button:active:after,
.button.is-checked:after {
  width: 100%; }

.button-group:after {
  content: '';
  display: block;
  clear: both; }

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em; }

.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0; }

.element-item {
  position: relative;
  float: left;
  width: 23.5%;
  margin-bottom: 7px;
  margin-right: 15px; }
  @media (max-width: 991px) {
    .element-item {
      width: 45%; } }
  @media only screen and (max-device-width: 991px) {
    .element-item {
      width: 45%; } }
  .element-item:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .element-item .wrapper-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center; }
    .element-item .wrapper-item .txt {
      padding: 4px;
      background-color: #FFF;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      /* easeInOutQuad */
      -webkit-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      display: flex;
      align-items: center;
      text-align: center; }
      .element-item .wrapper-item .txt p {
        width: 90%;
        margin-left: 5%;
        font-family: 'FBold';
        font-size: 16px;
        color: #363636;
        letter-spacing: 1px; }
        .element-item .wrapper-item .txt p a {
          color: #363636; }
    .element-item .wrapper-item:hover .txt {
      opacity: .85;
      transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      /* easeInOutQuad */
      -webkit-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.element-item > * {
  margin: 0;
  padding: 0; }

.single-galeria {
  margin-top: 27px; }
  .single-galeria .fotos img {
    max-width: 100%;
    margin-bottom: 8px; }
  .single-galeria h1 {
    color: #363636;
    letter-spacing: 1.05px;
    margin-bottom: 37px;
    font-family: 'FUBold';
    font-size: 2.66em;
    letter-spacing: 0.5px; }
  .single-galeria p {
    font-size: 1em;
    color: #363636;
    letter-spacing: 0;
    line-height: 1.4em;
    margin-bottom: 15px; }
  .single-galeria .wp-video {
    margin-bottom: 51px; }
  .single-galeria ul.info-adicional {
    margin-bottom: 51px;
    margin-bottom: 90px; }
    .single-galeria ul.info-adicional li {
      font-size: 1em;
      color: #363636;
      letter-spacing: 0;
      line-height: 21px;
      margin-bottom: 18px; }
      .single-galeria ul.info-adicional li span {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1em;
        color: #363636;
        letter-spacing: 0.5px;
        line-height: 21px; }
  .single-galeria .caja-link p a {
    float: left;
    margin-bottom: 0;
    margin-left: 11px; }

.relacionadas {
  margin-top: 27px;
  background-color: #EBEBEB;
  padding-top: 19px;
  padding-bottom: 19px; }
  .relacionadas h6 {
    margin-bottom: 25px;
    line-height: 1em; }

.item-relacionada {
  margin-bottom: 34px; }
  .item-relacionada img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; }
  .item-relacionada span.fecha {
    color: #363636; }
  .item-relacionada h5 a {
    font-size: 1.06em;
    color: #363636;
    letter-spacing: 0.5px; }

.featherlight .featherlight-content {
  padding: 0;
  border-bottom: 0;
  overflow: visible; }
.featherlight .featherlight-close-icon {
  top: 0;
  right: -28px; }

.caja-link {
  min-height: 40px;
  margin-top: 17px;
  display: flex;
  justify-content: flex-end; }
  .caja-link .svg {
    padding-top: 12px; }
  .caja-link p {
    margin-right: 10px; }
    .caja-link p a {
      font-family: 'FSemi';
      text-transform: uppercase;
      font-size: 12px;
      color: #363636;
      letter-spacing: 2px;
      width: 100%;
      display: inline-block;
      margin-bottom: 3px;
      text-decoration: none;
      width: auto;
      float: right; }
      .caja-link p a:hover {
        text-decoration: none; }
      .caja-link p a:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #363636;
        transition: width .2s; }
    .caja-link p:hover a:after {
      width: 100%; }

#wrapper.blog {
  background-color: #EBEBEB;
  padding-bottom: 159px; }
  #wrapper.blog .seccion-titulo h1 {
    color: #FFF; }
  #wrapper.blog .item-noticia {
    margin-bottom: 17px; }
    #wrapper.blog .item-noticia .wrapper-item {
      background-color: #FFF; }
    #wrapper.blog .item-noticia .img {
      height: 215px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      margin-bottom: 12px; }
      #wrapper.blog .item-noticia .img a {
        display: block;
        height: 100%;
        text-decoration: none; }
        #wrapper.blog .item-noticia .img a:hover {
          text-decoration: none; }
    #wrapper.blog .item-noticia .txt {
      padding: 15px 8px; }
      #wrapper.blog .item-noticia .txt p {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1em; }
      #wrapper.blog .item-noticia .txt a {
        color: #363636;
        letter-spacing: 0.7px; }
      #wrapper.blog .item-noticia .txt span {
        font-size: 16px;
        color: #363636;
        letter-spacing: 0; }

#blog-home, #header-blog {
  padding-top: 70px; }
  #blog-home h1, #header-blog h1 {
    font-size: 4.66em;
    color: #363636;
    letter-spacing: 0.5px;
    line-height: 74px;
    margin-bottom: 50px; }
  #blog-home .item-portada-blog, #header-blog .item-portada-blog {
    display: flex;
    min-height: 270px;
    margin-bottom: 20px; }
    @media (max-width: 640px) {
      #blog-home .item-portada-blog, #header-blog .item-portada-blog {
        display: block; }
        #blog-home .item-portada-blog .img, #header-blog .item-portada-blog .img {
          height: 270px; } }
    @media only screen and (max-device-width: 640px) {
      #blog-home .item-portada-blog, #header-blog .item-portada-blog {
        display: block; }
        #blog-home .item-portada-blog .img, #header-blog .item-portada-blog .img {
          height: 270px; } }
    #blog-home .item-portada-blog .img, #header-blog .item-portada-blog .img {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      position: relative; }
      #blog-home .item-portada-blog .img a, #header-blog .item-portada-blog .img a {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none; }
        #blog-home .item-portada-blog .img a:hover, #blog-home .item-portada-blog .img a:focus, #blog-home .item-portada-blog .img a:active, #header-blog .item-portada-blog .img a:hover, #header-blog .item-portada-blog .img a:focus, #header-blog .item-portada-blog .img a:active {
          text-decoration: none; }
    #blog-home .item-portada-blog .texto, #header-blog .item-portada-blog .texto {
      background-color: #FFF;
      color: #363636;
      padding-top: 15px; }
      #blog-home .item-portada-blog .texto h2, #header-blog .item-portada-blog .texto h2 {
        font-size: 2.1em;
        letter-spacing: 1px;
        margin-bottom: 40px; }
        #blog-home .item-portada-blog .texto h2 a, #header-blog .item-portada-blog .texto h2 a {
          color: #363636; }
      #blog-home .item-portada-blog .texto p, #header-blog .item-portada-blog .texto p {
        margin-bottom: 17px; }
        #blog-home .item-portada-blog .texto p a, #header-blog .item-portada-blog .texto p a {
          font-family: 'FUBold';
          font-size: 12px;
          color: #FF5C39;
          letter-spacing: 1px;
          text-align: center;
          line-height: 26px; }
          #blog-home .item-portada-blog .texto p a:after, #header-blog .item-portada-blog .texto p a:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #363636;
            transition: width .2s; }
          #blog-home .item-portada-blog .texto p a:hover, #header-blog .item-portada-blog .texto p a:hover {
            text-decoration: none; }
            #blog-home .item-portada-blog .texto p a:hover:after, #header-blog .item-portada-blog .texto p a:hover:after {
              width: 100%; }
  #blog-home.bg-naranjo, #header-blog.bg-naranjo {
    background-color: #FF5C39 !important; }

span.fecha {
  font-weight: 500;
  font-size: 0.93em;
  letter-spacing: 1.17px;
  line-height: 2.13em;
  margin-bottom: 8px;
  color: #363636; }

#header-blog.destacada {
  background-color: #FFF; }
  #header-blog.destacada .item-portada-blog {
    min-height: 400px; }
    #header-blog.destacada .item-portada-blog h2 {
      font-size: 2.4em;
      letter-spacing: 1px;
      line-height: 42px; }
      #header-blog.destacada .item-portada-blog h2 a {
        color: #363636; }

#wrapper.single .header {
  min-height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  #wrapper.single .header img {
    max-width: 100%; }
#wrapper.single h1 {
  margin-bottom: 45px;
  font-family: Fibra-Bold;
  font-size: 2.66em;
  letter-spacing: 0.91px; }

#pre-footer {
  padding-top: 69px;
  padding-bottom: 27px; }
  #pre-footer .logo-footer {
    margin-bottom: 20px; }
  #pre-footer p, #pre-footer a {
    font-size: 0.8em; }
  #pre-footer h5, #pre-footer h4 {
    font-size: 20px;
    margin-bottom: 16px; }
  #pre-footer p, #pre-footer a, #pre-footer h5, #pre-footer h4 {
    color: #FFF; }
  #pre-footer p {
    margin-bottom: 20px; }
  #pre-footer ul li a {
    text-transform: uppercase; }

footer {
  padding-top: 33px;
  padding-bottom: 13px; }
  footer p {
    color: #FFF;
    margin-bottom: 0; }
    footer p a {
      color: #FFF;
      text-decoration: none; }
      footer p a:hover {
        color: #FFF; }
  footer p.slogan {
    font-family: 'FBold';
    font-style: 0.93em;
    margin-bottom: 20px;
    float: left; }
  @media (max-width: 768px) {
    footer .text-right {
      text-align: left; } }
  @media only screen and (max-device-width: 768px) {
    footer .text-right {
      text-align: left; } }

.widget-cart .dropdown-right, .widget-cart .dropdown-cart-button, .widget-cart .dropdown-total {
  border: 0;
  background-color: #B58E7C; }
.widget-cart .dropdown-cart-button {
  /*background: url(../images/cart.png) no-repeat top left #fff;*/ }

.dropdown-cart-button .dropdown-total {
  background: none;
  padding: 5px 0px;
  font-size: 0.8em; }

.woocommerce, .woocommerce-page {
  background-color: #EBEBEB; }

.woocommerce {
  color: #515151; }
  .woocommerce .panel {
    background-color: transparent; }
  .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-color: #dad8da; }
    .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
      background-color: #999;
      color: #FFF; }
  .woocommerce h1, .woocommerce h2, .woocommerce h3, .woocommerce h4, .woocommerce h5, .woocommerce h6 {
    margin-bottom: 30px; }
  .woocommerce p.price {
    margin-bottom: 30px; }
  .woocommerce .woocommerce div.product .woocommerce-tabs .panel {
    padding-bottom: 20px; }
  .woocommerce p {
    margin-bottom: 20px; }
  .woocommerce .quantity .qty {
    height: 35px; }

.pswp__bg {
  background: rgba(0, 0, 0, 0.8); }

body.post-type-archive-product h1.page-title {
  display: none; }

#pagina-tienda {
  display: none;
  visibility: hidden; }
  #pagina-tienda .titulo-tienda {
    min-height: 100px;
    height: auto;
    margin-bottom: 35px;
    /*test*/ }
    @media (max-width: 640px) {
      #pagina-tienda .titulo-tienda {
        min-height: 400px; } }
    @media only screen and (max-device-width: 640px) {
      #pagina-tienda .titulo-tienda {
        min-height: 300px; } }
  #pagina-tienda h1#consulte {
    font-family: Fibra-Bold;
    font-size: 4.66em;
    letter-spacing: 0.5px; }

.woocommerce-product-gallery {
  position: relative;
  margin-bottom: 3em; }

.woocommerce-product-gallery figure {
  margin: 0; }

.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 25%;
  display: inline-block; }

.woocommerce-product-gallery .flex-control-thumbs li {
  list-style: none;
  float: left;
  cursor: pointer; }

.woocommerce-product-gallery .flex-control-thumbs img {
  opacity: 0.5; }

.woocommerce-product-gallery .flex-control-thumbs img.flex-active, .woocommerce-product-gallery .flex-control-thumbs img:hover {
  opacity: 1; }

.woocommerce-product-gallery img {
  display: block; }

.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
  width: 33.3333%; }

.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 25%; }

.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  width: 20%; }

.woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 99; }

a.woocommerce-product-gallery__trigger {
  text-decoration: none; }

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: .875em;
  right: .875em;
  display: block;
  height: 2em;
  width: 2em;
  border-radius: 3px;
  z-index: 99;
  text-align: center;
  text-indent: -999px;
  overflow: hidden; }

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  background-color: #169fda;
  color: #ffffff; }

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
  background-color: #1781ae;
  border-color: #1781ae;
  color: #ffffff; }

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
  font: normal normal normal 1em/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  content: "\f00e";
  line-height: 2;
  text-indent: 0; }
